@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');

* {
    scroll-behavior: smooth;
    text-size-adjust: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.header {
   display: flex;
   position: fixed;
   width: 100%;
   height: 4.8rem;
   background-color: #fff;
   padding: 0 2rem;
   top: -1px;
}

.header-logo-container {
   display: flex;
   flex: 20 20;
   align-items: center;
   cursor: pointer;
   color: #333;
   transition: color .3s;
}

.header-logo-container img {
   width: 4.5rem;
   height: 4.5rem;
   margin-left: 1rem;
   margin-right: 1.2rem;
   border-radius: 50%;
}

.header__logo-sub {
   letter-spacing: 1.5px;
   width: 100%;
}


.home {
    /* background-color: #091522; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.nav-conrainer {
   z-index: 1;
}

.nav-bar {
    display: inline-flex;
    margin-left: 400px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    
}


.nav-bar li {
    text-decoration: none;
    list-style-type: none;
    padding: 30px 60px 0px 0px;
    font-size: 1rem;
    
}

.nav-bar li a {
    text-decoration: none;
    color: #333;
}

.nav-bar li a:hover {
   color: #6E48E0;
}


/* hamburger*/

.header .menu-icon {
   cursor: pointer;
   display: inline-block;
   float: right;
   padding: 28px 20px;
   position: relative;
   user-select: none;
 }
 
 .header .menu-icon .navicon {
   background: #333;
   display: block;
   height: 2px;
   position: relative;
   transition: background .2s ease-out;
   width: 18px;
 }
 
 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
   background: #333;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
 }
 
 .header .menu-icon .navicon:before {
   top: 5px;
 }
 
 .header .menu-icon .navicon:after {
   top: -5px;
 }
 
 /* menu btn */
 
 .header .menu-btn {
   display: none;
 }
 
 .header .menu-btn:checked ~ .menu {
   max-height: 240px;
 }
 
 .header .menu-btn:checked ~ .menu-icon .navicon {
   background: transparent;
 }
 
 .header .menu-btn:checked ~ .menu-icon .navicon:before {
   transform: rotate(-45deg);
 }
 
 .header .menu-btn:checked ~ .menu-icon .navicon:after {
   transform: rotate(45deg);
 }
 
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
   top: 0;
 }
/*
.hamburger {
   position: relative;
   display: block;
   width: 35px;
   height: 35px;
   cursor: pointer;
   appearance: none;
   background: none;
   outline: none;
   border: none;

}

.hamburger .bar, .hamburger:after, .hamburger:before {
   content: "";
   display: block;
   width: 100%;
   height: 5px;
   background-color: #fff;
   color: #000;
   margin: 6px 0px;
   transition: 0.4s;
}

.hamburger.is-active:before {
   transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active:after {
   transform: rotate(-45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {

}

/* dark and light theme 
.dark-theme {
   background-color: #000106;
   color: #fff;
}
*/

body {
  background-color: #fff;
  color: #000;
  display: grid;
  min-height: 100vh;
  place-items: center;
}

button {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1.5rem 0.7rem;
  transition: all var(--global-transition-time) ease-in-out;
  border-radius: 2rem;
  cursor: pointer;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: 0.25rem solid var(--color-fg);
}

/* dark and light theme ends */

.hero {
   background: linear-gradient(to right, rgba(245,245,245,0.8), rgba(245,245,245,0.8)), url(https://img.freepik.com/premium-photo/kaleidospe-3d-shapes-background_719536-1368.jpg?w=740);
   object-fit: cover;
   display: block;
   height: 100%;
    max-width: 100%;
    padding: 250px 0px 90px 190px;
   
}

#hero-about {
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    width: 100%;
    padding-bottom: 10px;
    
}

#hero-about h1{
         font-size: 3rem;
         animation: name 2s linear 0s infinite alternate-reverse none running;
         letter-spacing: 9px;
         text-rendering: geometricPrecision;     
         
     }

     #hero-about h1 {
         padding: 40px;
     }

     /*

     @keyframes name {
         10% {
             text-shadow: rgb(255, 105, 180) 3px 0px;
         }
         20% {
            text-shadow: rgb(110,72,224) 3px 0px;
         }
        
     }
*/

   #hero-about p{
      line-height: 30px;
   }

   .contact-me {
      padding: 1rem 2.5rem;
      font-size: 1.2rem;
      background-color: #7843E9;
      color: #fff;
      text-transform: uppercase;
      border: transparent;
      border-radius: 5px;
      box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
      letter-spacing: 1px;
      transition: transform .3s;
      margin-top: 3rem;
   }

    
     .socials {
      position: absolute;
      color: #6E48E0;
      top: 50%;
      right: 95%;
      background-color: #fff;
      font-size: 1.5rem;
      
     }

     .socials  ul{
        padding: 0px 0 20px 0px;
        display: block;
        list-style-type: none;
        
     }

     .socials ul li {
        padding: 20px 10px 10px 20px;
     }

      a:link {
      color: #7843E9;
      }

      a:hover {
      color: hotpink;
      }


     /*  about me  section Begins*/
     #about {
        padding-top: 7rem;
        text-align: center;
        background: linear-gradient(to right, rgba(245,245,245,0.8), rgba(245,245,245,0.8)), url(https://img.freepik.com/premium-photo/kaleidospe-3d-shapes-background_719536-1368.jpg?w=740);
        min-height: 100%;
        width: 100%;
       
     }

     .about-details h2 {
      font-size: 2.5rem;
      letter-spacing: 2px;
     }

     .about-details p{
      color: #555;
      font-size: 1.4rem;
      line-height: 1.5;
      letter-spacing: 1.2px;
     }

     .know-me h2{
      color: #000;
      font-size: 2.5rem;
      padding-bottom: 20px;
     }

     .know-me {
      color: #555;
      font-size: 1.3rem;
      line-height: 1.5;
      letter-spacing: 1.2px;
     }


     .tools-section h2 {
      font-size: 2.5em;
        text-align: center;
        padding: 40px 0px;
     }

     .tools-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2 0px;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5rem;
        height: 150px;
     }

     .tools-container i {
      color: blue;
     }

     /* tools section ends */


     /*Project section begins */

     #project {
        background-color: #FAFAFA;
        padding-top: 90px;
        margin-top: -57px;
     }

     #project h1 {
        font-size: 2.5em;
        text-align: center;
        
     }

     .project-one, .project-two, .project-three, .project-four, .project-five {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 1fr 3fr;
        min-height: 500px;
        width: 100%;
        margin-top: -70px;
     }


     .text p {
        width: 80%;
        line-height: 1.6;
     }



     .view {
      width: 100px;
    background-color: #6E48E0;
    padding: 10px;
    border: 2px solid transparent ;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600px;
    color: white;
    margin-top: 2rem;
     }

     .text {
        margin-top: 210px;
        font-size: 1.2em;
        margin-left: 150px;
     }
     
     .text h2 {
        padding-bottom: 30px;
     }

     .contact {
       
        margin-top: px;
        background-color: whitesmoke;
        min-height: 900px;
     }

     .contact h1 {
        font-size: 2.5em;
        text-align: center;
        padding: 50px 0px 50px 0px;
        
     }

     .contact p {
        font-size: 1.4em;
        padding-bottom: 20px;
        line-height: 40px;
        text-align: center;
        
     }

     form {
        background-color: #fff;
        border: 2px solid transparent;
        border-radius: 7px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 60%;
        min-height: 600px;
        text-align: left;
        padding: 60px 0px 0px 60px;
        font-size: 1.2em;
     }


     form input {
        padding: 12px;
        background-color: #F0F0F0;
        width: 90%;
        height: 55px;
        border: 2px solid transparent;
        font-size: 0.7em;
     }

     form input:focus, .comment:focus {
        outline: none;
     }
    
    label {
        padding-bottom: 20px;
    }
     
    .comment {
        width: 90%;
        height: 100px;
        padding: 10px;
        background-color: #F0F0F0;
        border: none;
    }

    form button {
        width: 100px;
    background-color: #6E48E0;
    padding: 10px;
    border: 2px solid transparent ;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600px;
    color: white;
    }

    footer {
      width: 100%;
    }

    .footer-section {
        display: flex;
        flex-wrap: wrap;
        background-color: #000;
        color: #fff;
        min-height: 400px;
        width: 100%;
        transition: width 0.5s, height 0.5s;
    }

    .footer-text {
        max-width: 70%;
        padding-top: 100px;
        line-height: 35px;
        margin-left: 100px;
    }

    .footer-text h2, .footer-socials h2 {
        padding-bottom: 20px;
        letter-spacing: 2px;
    }

    .footer-text p{
        line-height: 25px;
        font-size: 1.1em;
    }

    .footer-socials {
     padding-top: 100px;
     margin-left: 300px;
    }

    .footer-socials  ul{
        display: flex;
        list-style-type: none;

     }

     .footer-socials ul li {
        padding: 0px 50px 0px 0px;
        font-size: 1.9rem;
     }

     footer  .fa-phone {
      color: #fff;
     }
     
     hr {
        color: #fff;
        border: none;
        border-top: 1px solid #999;
        background-color: #fff;
        height: 1px;
        margin: -110px 0px 0px 65px;
        width: 90%;
     }

     /* MEDIA QUERIES STARTED */


     @media screen and (max-width: 1480px) {

      .hero-text {
         margin-left: -14%;
      }

      video {
         margin-left: 10%;
      }
      p, li, a, form label {
          font-size: larger;
       }

       .about-details {
         width: 80%;
         margin: auto;
       }

       .view {
         width: 120px;
       padding: 14px;
      }
 
      .footer-socials {
         margin-left: 300px;
   }
   

}


@media screen and (max-width: 1300px) {
   .hero {
       width: auto;
    }

    .hero-text {
      margin-left: -170px;
    }

    .socials {
      position: absolute;
      top: 250px;
      font-size: 1.7rem;
    }

    #about p {
      width: 90%;
      margin: auto;
    }

    .footer-socials {
      margin-left: 300px;
     }
 
   }

   @media screen and (max-width: 1117px) {
      .footer-section {
         margin: auto;
         display: block;
         text-align: center;
         justify-content: center;
         padding: 0px 0px 0px 0px;
      }

      .footer-socials {
         margin-left: -20px;
      }

      .footer-socials ul {
         margin-left: 220px;
      }

       
      
   }

   @media screen and (max-width: 1200px) {

      .hero-text {
         margin-left: -170px;
      }
      
      .contact-me {
         padding: 1rem 2rem;
         font-size: 1.2rem;
         
      }
   
      }
   

     @media screen and (max-width: 1100px) {
      .project-one, .project-two, .project-three,
      .project-four, .project-five {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
      }

      video {
         margin-left: -12px;
      }

      .text {
         margin-top: -100px;
         width: 80%;
         text-align: center;
         
      }

      .text h2, .view {
         margin-left: -17%;
      }

      .contact {
         padding: 40px;
         margin-top: 20px;
      }
   }

   @media screen and (max-width: 1100px) {
      .socials {
         display: none;
      }
   }

   @media screen and (max-width: 800px) {
      .hero-text{
         width: auto;
      }

      .nav-bar {
         display: none;
      }
   }

   @media  screen and (min-width:768px) {
      .header li {
         float: left;
       }
       
       .header .menu {
         clear: none;
         float: right;
         max-height: none;
       }
       .header .menu-icon {
         display: none;
       }
     }
     
   
